<%- include('partials/header', {userName: userName}) %>


<p></p>
<% posts.forEach(function(post){ %>

<p><h2>
    <%=post.title %>
</h2></p>
<p>
    <%=post.content.substring(0, 100)+"..." %>
    <% if (post.title!=""){ %>
<a href="/posts/<%=post._id%>" >Read More</a>
<% } %>
</p>

<%  }) %>

<%- include('partials/footer'); -%>
